@media (min-width: 375px) {
	.skills {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.skills_items {
		margin-bottom: 2rem;
	}
}

@media (min-width: 1300px) {
	.skills {
		justify-items: center;
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 100px 100px 100px 100px 100px;
		height: 100%;
		margin: 0 auto;
		/*column-gap: 1rem;*/
	}

	.skills_items.--supervisor {
		justify-self: end;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 5;
	}

	.skills_items.--team-builder {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.skills_items.--karma {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 6;
	}

	.skills_items.--calculator {
		justify-self: start;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 5;
	}
}