.skills_items {
	border-top: 5px solid #000;
	border-radius: 10px;
	box-shadow: 0 2px 5px #000;
	padding: 1rem;
	width: 300px;
	height: 200px;
}

.skills_items h2 {
	font-weight: 400;
}

.skills_items p {
	font-weight: 200;
}

.skills_items img {
	position: relative;
	left: calc(100% - 1rem - 64px);
}

.skills_items.--supervisor {
	border-color: #00C7C7FF;
}

.skills_items.--team-builder {
	border-color: #F00;
}

.skills_items.--karma {
	border-color: #FF0;
}

.skills_items.--calculator {
	border-color: #2667FFFF;
}